html{
  scroll-behavior: smooth;
}

body {
    background: #333 ;
    color: #fff;
  }

  #home-section {
    background: url(xxx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    background-position: center;
    
  }

  #home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background:rgba(0, 0, 0, 0.7);
  }

  .navbar {
    height:50px;
    border-bottom: #9ee4f5 .5px solid;
    
    }

  #h{
      margin-top: 200px;
  }
  
  

  #sect2{
    background:white;
    color:black;  
  }

  
  
.img-fluid{
  min-width: 100%;
  min-height: 100%;
  
}

  #m1{
    margin-top: 20px;
    min-width: 200px;
    min-height: 300px;
    background-color: orange;
    
  }
  #m2{
    padding-top:28px;
  }
 

#c:hover{
  transform: scale(1.1); 
  transition-duration: 0.8s;
}

#c{
  box-shadow: 3px 3px gray;
}
  
.jumbotron{
  background-color: #f07816;
  
  padding-top: 80px;
  min-height: 300px;
}

 #im{
   min-width:200px;
   max-width:300px;
   margin-left:50px;
 }

#s:hover{
  transform: scale(0.8);
  transition-duration: 0.8s;
  
}

#z:hover{
  transform: rotateY(360deg);
  transition-duration: 1s;
 
}
 
 
 #s{
   font-size:17px;
   color:white solid 1px;
  }

  #f{
    margin-right:15px;
   height:35px;
   width:35px;
  }

  #home{
    transition-duration: 0.1s
  }

  #o{
    height:350px;
    width:340px;
  }

  